doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="stylesBookList.css")
    script(src="script.js") 
  
    title Rented books
  body
    div.header
      div.menuleft
        a(href="/")
          div.logo
              img(src="img/logo-bg.svg")
        a(href="/books") Books
        if role == 'admin'
          a(href="/returned") LibraryManager
        else
          a(href="/rentedBooks") Borrowed
      div.menus
        a(href="/profile")
          div.profile
                img(src="img/profile.png")
      
    div.mainPanel
      if error
        h2 #{errorMSG}
      else
      div.errorPanel
      div.bookPanel
        h1 Books you borrowed:
        each rbook in rentedBooks
          div.bookContainer(id=`book${rbook.book.id}`)
            div.lbook
                img(src=rbook.book.url, alt=rbook.book.title)
            div.infoPanel
                p Title: #{rbook.book.title}
                p Author: #{rbook.book.author}
                p.copies Number of copies borrowed: #{rbook.no_copies}
                button(type="button", onclick=`returnBook('${rbook.book.id}')`) Give back

    div.stopka     
        p Biblioteka Główna Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie
        p tel. +48 12 617 32 08
        p e-mail: bgagh@bg.agh.edu.pl

