doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="stylesBookList.css")  
    script(src="script.js")      
    title Books list
  body
    div.header
      div.menuleft
        a(href="/")
          div.logo
              img(src="img/logo-bg.svg")
        a(href="/books") Books
        a(href="/rentedBooks") Borrowed
        if role === "admin"
          a(href="/") LibraryManager
      div.menus
        a(href="/profile")
          div.profile
              img(src="img/profile.png")
        a(href="/login" class="loginbutton") Log in
      
    div.mainPanel
      div.errorPanel
      div.bookPanel
        each book in books
          div.bookContainer(id=`book${book.id}` class=(book.no_copies === 0 ? 'noCopies' : ''))
            img.book(src=book.url, alt=book.title, onclick=`addBook('${book.id}')`)
            div.infoPanel
                p Title: #{book.title}
                p Author: #{book.author}
                p.copies Number of available copies: #{book.no_copies}
                p Faculty: #{book.faculty}
                p Field of study: #{book.major}
        div.basket
            div.basket-row
              img(src="img/basket.png") 
              h1 Basket
            div.basketList
              p No books in basket
          
         

    div.stopka     
        p Biblioteka Główna Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie
        p tel. +48 12 617 32 08
        p e-mail: bgagh@bg.agh.edu.pl

